<h1 align="center">Add account</h1>
<div class="container">
<form role="form" class="form-horizontal" method="post" action="doaction">
	<div class="form-group">
		<label for="name" class="control-label col-sm-3"><i class="fa fa-cc-mastercard"></i>&nbsp;Account Number</label>
		<div class="col sm-10">
		<input type="text" class="form-control" name="acnt" required placeholder="Account Number">
		</div>
	</div>
	<div class="form-group">
		<input type="checkbox" name="conditions" required><label>I agree to the Terms and Conditions</label>
	</div>
	<div class="form-group">
		<div class="col sm-10" align="center">
		<button type="submit" class="btn-lg btn-success">Add Account</button>
		</div>
	</div>
	<br><br>
</form>
</div>