<h1>Your donation details</h1>
<table style="border-color: red" class="table table-striped">
	<thead>
      <tr>
      	<th>S.No</th>
        <th>Event Name</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
<% count=1
 @donationDet.each do |d|
 	@event=Event.find_by_id(d.eventid)
	if(d.donorid==@u.id) %>
		<tr>
			<td><%= count %></td>
			<td><%= @event.eventName %></td>
			<td><%= d.amnt %></td>
			<td><%= d.created_at %></td>
		</tr>
	<% count+=1
		end
end%>
</table>