<div class="center-block">
	<h1 align="center">Online Donation System</h1>
</div>

<nav class="navbar navbar-expand-sm bg-success navbar-dark sticky-top">
  <div class="container-fluid">
  <nav class="nav navbar-header">
	 <a class="navbar-brand">Welcome</a>
  </nav>
   <div class="collapse navbar-collapse" id="myNavbar">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="#about"><i class="fa fa-globe"></i>&nbsp;About us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#help"><i class="fa fa-flag"></i>&nbsp;Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact"><i class="fa fa-phone"></i>&nbsp;Contact</a>
    </li>
  	<li class="nav-item">
  		<a class="nav-link" href="/online_donation/signup"><i class="fa fa-user-plus"></i>&nbsp;Sign Up</a>
  	</li>
  	<li class="nav-item">
  		<a class="nav-link" href="/online_donation/login"><i class="fa fa-sign-in"></i>&nbsp;Login</a>
  	</li>
  </ul>
  </div>
</div>
</nav>
<div class="parallax">
</div>

<div id="about">
	<h1 >About Us</h1>
	<p style="text-indent: 100px;font-size: 30px">This Online Donation System is developed as a part of Object Oriented Analysis and Design Labarotary. This is developed by a team of three students of CSE department. This application aims to donate for the events and to collect fund for events from the people. For further information regarding this system contact the developer team.</p>
</div>
<div class="charity"></div>
<div id="help">
	<h1>Help</h1>
	<p style="text-indent: 100px;font-size: 30px">To use this application you need to signup as a user into the system. If you already have an account, login into the system with that account and you can perform desired actions.</p>
</div>
<div class="contact"></div>
<div id="contact">
	<h1 class="panel-title">Contact</h1>
	<p style="text-indent: 100px;font-size: 30px">Contact our team if you have any doubts regarding this application</p>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
  					<img class="card-img-top" src="/img/female.png" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Staff Mentor</h5>
    					<p class="card-text">R.Bueleah Jeyavadhana Asst.Professor(Sr.Grade)</p>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Computer Science Department</li>
    					<li class="list-group-item">Mepco Schlenk Engineering College</li>
  					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
  					<img class="card-img-top" src="/img/female.png" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Staff Mentor</h5>
    					<p class="card-text">Dr.K.Mala Professor (Sr. Grade)</p>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Computer Science Department</li>
    					<li class="list-group-item">Mepco Schlenk Engineering College</li>
  					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
  					<img class="card-img-top" src="/img/mukesh.jpg" height="310" style="border-radius: 50%" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Designer Team</h5>
    					<p class="card-text">Mukesh Karthik B.E, CSE III year</p>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Computer Science Department</li>
    					<li class="list-group-item">Mepco Schlenk Engineering College</li>
  					</ul>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
					<img class="card-img-top" src="/img/madhan.jpg" height="310" style="border-radius: 50%" alt="Card image cap">
  					
  					<div class="card-body">
    					<h5 class="card-title">Designer Team</h5>
    					<p class="card-text">P.Madhan B.E, CSE III year.</p>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Computer Science Department</li>
    					<li class="list-group-item">Mepco Schlenk Engineering College</li>
  					</ul>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card" style="width: 20rem;">
  					<img class="card-img-top" src="/img/male.png" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Designer Team</h5>
    					<p class="card-text">S.Gajendra Balan B.E, CSE III year</p>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Computer Science Department</li>
    					<li class="list-group-item">Mepco Schlenk Engineering College</li>
  					</ul>
				</div>
			</div>
		</div>
	</div>

</div>