<h1 align="center">Settings</h1><br><br>
<form align="center" action="moveaction">
	<button type="submit" name="passwd" value="pwd" class="btn-lg btn-success"><i class="fa fa-lock"></i> Change password</button><br><br>
	<button type="submit" name="upload" value="up" class="btn-lg btn-success"><i class="fa fa-camera"></i> Change Profile picture</button>
</form>